
.node
{
    text-align: center;
    border-collapse: collapse;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.node-t-outer
{
    margin: .5em;
    padding: .5em;
}

.node-f-outer
{
    margin: .4em;
    padding: .4em;
}

.node-t-inner
{
    margin: .25em;
    padding: .225em;
}

.node-eq
{
    margin-top: .5em !IMPORTANT;
}

.node-symbol
{
    font-style: italic;
}

.node-div
{
    display: inline-block;
}

/****************************************************************************
*   Selection support
****************************************************************************/

.node.selectable
{
    border: solid 1px;
    cursor: pointer;
}

.select-f-outer .node.selectable:hover
{
    background: silver;
    cursor: pointer;
}

